name: Compilar e testar código C

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Compilar fatorial_test.c
      run: gcc fatorial_test.c -o fatorial_test

    - name: Executar o teste
      run: ./fatorial_test
